@import "./colors.scss";
$vw:750;
$fontFamily: Roboto, Lato, sans-serif;
// primary and accent
$primaryColor: $blue500;  // 主色
$darkerPrimaryColor: $blue700;

// success
$successColor: $green500;
$darkerSuccessColor: $green600; 

// info
$infoColor: $lightBlue400;
$darkerInfoColor: $lightBlue600; 

// warn
$warnColor: $orange400;
$darkerWarnColor: $orange600; 

// danger
$dangerColor: $red400;
$darkerDangerColor: $red600; 

$accentColor: $pinkA200;
$darkerAccentColor: $grey100;
$lighterAccentColor: $grey500;

// textColor or borderColor
$textColor: $darkBlack;
$primaryTextColor: lighten($fullBlack, 54%);
$alternateTextColor: $white;
$borderColor: lighten($textColor, 85%);
$disabledColor: lighten($textColor, 50%);

// background
$backgroundColor: $white;
$statusBarBackgroundColor: $grey300;
$appbarBackgroundColor: $grey100;
$dialogBackgroundColor: $white; // dialogs or cards

// icon color
$activeIconColor: lighten($fullBlack, 54%);
$inActiveIconColor: lighten($fullBlack, 38%);

// spaceing
$iconSize: 24px;
$desktopGutter: 24px;
$desktopGutterMore: 32px;
$desktopGutterLess: 16px;
$desktopGutterMini: 8px;
$desktopKeylineIncrement: 64px;
$desktopDropDownMenuItemHeight: 32px;
$desktopDropDownMenuFontSize: 15px;
$desktopDrawerMenuItemHeight: 48px;
$desktopSubheaderHeight: 48px;
$desktopToolbarHeight: 56px;

// animate
$easeOutFunction: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutFunction: cubic-bezier(0.445, 0.05, 0.55, 0.95);
