// flatbutton
.vui-flat-button {
  color: @flatButtonTextColor;
  background-color: @flatButtonColor;
  .vui-circle-ripple {
    color: @flatButtonTextColor;
  }
}

.vui-flat-button-primary{
  color: @flatButtonPrimaryTextColor;
}

.vui-flat-button-secondary{
  color: @flatButtonSecondaryTextColor;
}
